.dashicons-avacy {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTkuMTg3OTkgMy4xNjQwNkgxNS4zNDNsNy4xMDE4IDE3LjY3NTg0LTYuMTU0OS0uMDAwMUw5LjE4Nzk5IDMuMTY0MDZaIi8+CiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTEuNTU1MTggMjAuODQzOGg2LjE1NDk2TDE0LjgxMiAzLjE2Nzk2SDguNjU3MDZMMS41NTUxOCAyMC44NDM4WiIvPgo8L3N2Zz4K");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
