name: Deploy to WordPress SVN

on:
  push:
    tags:
      - '*'

jobs:
  deploy:
    name: Deploy Plugin to WordPress SVN
    runs-on: ubuntu-latest
    steps:
      - name: Install SVN
        run: sudo apt-get install subversion

      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Get Version from Tag
        run: echo "PLUGIN_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Debug Version
        run: echo "Deploying version $PLUGIN_VERSION"

      - name: Validate SemVer Tag
        run: |
          if [[ ! "$PLUGIN_VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+(--[a-zA-Z0-9._-]+)?$ ]]; then
            echo "❌ Invalid tag format: $PLUGIN_VERSION"
            exit 1
          fi
          echo "✅ Valid SemVer tag: $PLUGIN_VERSION"

      # - name: Update Version in Files (Temporary)
      #   run: |
      #     sed -i "s/^Stable tag: .*/Stable tag: $PLUGIN_VERSION/" readme.md
      #     sed -i "s/^Stable tag: .*/Stable tag: $PLUGIN_VERSION/" avacy.php
      #     sed -i "s/^Version: .*/Version: $PLUGIN_VERSION/" avacy.php

      # use svn to checkout the plugin directory
      - name: Checkout SVN
        run: svn co https://plugins.svn.wordpress.org/avacy/trunk /tmp/avacy
          
      - name: Empty trunk folder
        run: |
          cd /tmp/avacy
          rm -rf trunk/*

      - name: Copy Files to SVN
        run: |
          mkdir -p /tmp/avacy/trunk/assets
          mkdir -p /tmp/avacy/trunk/languages
          mkdir -p /tmp/avacy/trunk/src
          mkdir -p /tmp/avacy/trunk/styles
          mkdir -p /tmp/avacy/trunk/vendor

          cp -r assets/* /tmp/avacy/trunk/assets/
          cp -r languages/* /tmp/avacy/trunk/languages/
          cp -r src/* /tmp/avacy/trunk/src/
          cp -r styles/* /tmp/avacy/trunk/styles/
          cp -r vendor/* /tmp/avacy/trunk/vendor/
          cp -r avacy.php /tmp/avacy/trunk/
          cp -r changelog.md /tmp/avacy/trunk/
          cp -r readme.md /tmp/avacy/trunk/

      - name: list trunk folder
        run: |
          cd /tmp/avacy
          ls -la trunk/

      - name: Add and Commit to SVN
        run: |
          cd /tmp/avacy
          svn add --force trunk/*
          svn commit -m "Deploying version $PLUGIN_VERSION" --username ${{ secrets.SVN_USERNAME }} --password ${{ secrets.SVN_PASSWORD }} --no-auth-cache

      # - name: Tag the Release
      #   run: |
      #     svn cp trunk tags/$PLUGIN_VERSION
      #     svn commit -m "Tagging version $PLUGIN_VERSION" --username ${{ secrets.SVN_USERNAME }} --password ${{ secrets.SVN_PASSWORD }} --no-auth-cache
