name: Deploy to WordPress SVN

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Plugin to WordPress SVN
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: WordPress Plugin Deploy
        uses: 10up/action-wordpress-plugin-deploy@2.3.0
        env:
          SLUG: avacy
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
